@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    flex-flow: row wrap;
    
}

header > h1 {
    justify-content: center;

}

header > nav {
    flex-flow: row nowrap;
}

header > nav > a {
    flex: 1 1 0;
    min-width: 0;
}

