@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    text-decoration: underline;
    color: darkblue;
    background-color: rgb(255, 228, 196);
}

h2 {
    color: rgba(184, 92, 7, 0.726);
}

p {
    text-align: justify;
    text-indent: 15px;
}