@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #042326, #107361);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #031011af;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #086b74;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

h2 {
    color: #27c2a5;

}

p {
    text-align: justify;
}